{% extends '::templateAll.html.twig' %}
  
    {% block container %}

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="{{asset('bundles/helpdesk/images/logoicea.jpg')}}" alt="Logo NTI">
                    <div class="caption-full">
                        <br><br>

                        <a class="list-group-item lead well-sm"><label>Nome:</label> {{usuario.nome}}</a>
                        <a class="list-group-item lead well-sm"><label>E-mail:</label> {{usuario.username}}</a>
                        <a class="list-group-item lead well-sm"><label>Total de Ordens Solicitadas:</label> {{chamadas|length}}</a>
                        <a class="list-group-item"><label>Em Aberto:</label> ~</a>
                        <a class="list-group-item"><label>Em Andamento:</label> ~</a>
                        <a class="list-group-item"><label>Finalizadas:</label> ~</a>
                    </div>
                </div>
            </div>
        
    {% endblock %}
