{% extends '::templateAll.html.twig' %}

{% block container %}
    <div class="col-lg-12">
        <form class="form-horizontal well col-lg-10" method="POST" action="{{path('login_check')}}">
            <fildset>
                <legend>Login no Sistema</legend>
                <div class="col-lg-7">
                    <label class="control-label" for="input01">Login: </label>
                    <div class="controls">
                        <input class="form-control input-xlarge" type="text" name="username" placeholder="e-mail">
                    </div>
                </div>
                <div class="col-lg-7">
                    <label class="control-label" for="input02">Senha: </label>
                    <div class="controls">
                        <input class="form-control input-xlarge " type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="col-lg-7">
                    <p class ="help-block">{{erro}}</p>
                </div>
                <div class="col-lg-7">                    
                    <button type="submit" class="btn btn-primary">Entrar</button>
                    <button type="reset" class="btn">Limpar</button>
                </div>
            </fildset>
        </form>
    </div>
{% endblock %}
